<div class="container">
    <div class="slide" style="background-image: url('https://images.unsplash.com/photo-1476041178066-aa562074def7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1189&amp;q=80')">
      <h3>US</h3>
    </div>
    <div class="slide" style="
          background-image: url('https://images.unsplash.com/photo-1616530020606-e15459064769?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=967&amp;q=80');
        ">
      <h3>Poland</h3>
    </div>
    <div class="slide active" style="
          background-image: url('https://images.unsplash.com/photo-1609932937042-56e6bdd7a41b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80');
        ">
      <h3>Turkey</h3>
    </div>
    <div class="slide" style="
          background-image: url('https://images.unsplash.com/photo-1615630852228-9ac7e20f99b3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1001&amp;q=80');
        ">
      <h3>France</h3>
    </div>
    <div class="slide" style="
          background-image: url('https://images.unsplash.com/photo-1615393904572-b3469d50cac3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1008&amp;q=80');
        ">
      <h3>UK</h3>
    </div>
  </div>